In [7]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Print the current working directory
print(current_directory)

/Users/davidusuariocasa/Desktop/Projects/ETL_project

In [171]:
import pandas as pd

In [189]:
movies = pd.read_csv('/Users/davidusuariocasa/Desktop/oscars.csv')

movies

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10760,2022,2023,95,HONORARY AWARD,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,95,HONORARY AWARD,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,95,HONORARY AWARD,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,95,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10764,2022,2023,95,AWARD OF COMMENDATION,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [190]:
filtered_df = movies[movies['winner'] == True] # I filter by 'True' only to show the winners and discard the nominated who didn't win (those with value 'False')

filtered_df

,year_film,year_ceremony,ceremony,category,name,film,winner
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True
...,...,...,...,...,...,...,...
10760,2022,2023,95,HONORARY AWARD,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,95,HONORARY AWARD,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,95,HONORARY AWARD,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,95,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10764,2022,2023,95,AWARD OF COMMENDATION,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [191]:
null_rows = filtered_df[movies.isnull().any(axis=1)] # I do this to see which rows contain null values

no_nulls = filtered_df.dropna()

no_nulls # now I have all the winners, without null values

/var/folders/87/s4hx64fd369_w81yc2lyq29w0000gp/T/ipykernel_40391/1042103956.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  null_rows = filtered_df[movies.isnull().any(axis=1)] # I do this to see which rows contain null values

,year_film,year_ceremony,ceremony,category,name,film,winner
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True
...,...,...,...,...,...,...,...
10743,2022,2023,95,SOUND,"Mark Weingarten, James H. Mather, Al Nelson, C...",Top Gun: Maverick,True
10745,2022,2023,95,VISUAL EFFECTS,"Joe Letteri, Richard Baneham, Eric Saindon and...",Avatar: The Way of Water,True
10753,2022,2023,95,WRITING (Adapted Screenplay),Screenplay by Sarah Polley,Women Talking,True
10755,2022,2023,95,WRITING (Original Screenplay),Written by Daniel Kwan & Daniel Scheinert,Everything Everywhere All at Once,True
10764,2022,2023,95,AWARD OF COMMENDATION,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [193]:
columns_to_drop = ['winner', 'name']

no_nulls.drop(columns=columns_to_drop, inplace=True) # Now I remove the column 'winner', since now I only have winners in my dataframe

/var/folders/87/s4hx64fd369_w81yc2lyq29w0000gp/T/ipykernel_40391/71279211.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nulls.drop(columns=columns_to_drop, inplace=True) # Now I remove the column 'winner', since now I only have winners in my dataframe

In [194]:
no_nulls

,year_film,year_ceremony,ceremony,category,film
1,1927,1928,1,ACTOR,The Last Command
3,1927,1928,1,ACTRESS,7th Heaven
6,1927,1928,1,ART DIRECTION,The Dove;
9,1927,1928,1,CINEMATOGRAPHY,Sunrise
10,1927,1928,1,CINEMATOGRAPHY,Sunrise
...,...,...,...,...,...
10743,2022,2023,95,SOUND,Top Gun: Maverick
10745,2022,2023,95,VISUAL EFFECTS,Avatar: The Way of Water
10753,2022,2023,95,WRITING (Adapted Screenplay),Women Talking
10755,2022,2023,95,WRITING (Original Screenplay),Everything Everywhere All at Once
10764,2022,2023,95,AWARD OF COMMENDATION,Welcome to Chechnya

In [195]:
selected_categories = ['OUTSTANDING PICTURE', 'UNIQUE AND ARTISTIC PICTURE', 'OUTSTANDING PRODUCTION', 'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION', 'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)', 'SPECIAL EFFECTS', 'DOCUMENTARY (Short Subject)', 'DOCUMENTARY (Feature)', 'FOREIGN LANGUAGE FILM', 'BEST PICTURE', 'SHORT FILM (Animated)', 'SHORT FILM (Live Action)', 'SHORT FILM (Dramatic Live Action)', 'ANIMATED FEATURE FILM', 'INTERNATIONAL FEATURE FILM', 'DOCUMENTARY FEATURE FILM', 'DOCUMENTARY SHORT FILM']

finaldf = no_nulls[no_nulls['category'].isin(selected_categories)] # I select only those winning categories that I consider represent best the film itself

finaldf.reset_index(inplace = True) # I reset the indexes

In [196]:
finaldf # This is my final dataframe

,index,year_film,year_ceremony,ceremony,category,film
0,21,1927,1928,1,OUTSTANDING PICTURE,Wings
1,22,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Sunrise
2,64,1928,1929,2,OUTSTANDING PICTURE,The Broadway Melody
3,100,1929,1930,3,OUTSTANDING PRODUCTION,All Quiet on the Western Front
4,140,1930,1931,4,OUTSTANDING PRODUCTION,Cimarron
...,...,...,...,...,...,...
586,10684,2022,2023,95,DOCUMENTARY SHORT FILM,The Elephant Whisperers
587,10694,2022,2023,95,INTERNATIONAL FEATURE FILM,All Quiet on the Western Front
588,10718,2022,2023,95,BEST PICTURE,Everything Everywhere All at Once
589,10729,2022,2023,95,SHORT FILM (Animated),"The Boy, the Mole, the Fox and the Horse"
590,10734,2022,2023,95,SHORT FILM (Live Action),An Irish Goodbye