In [242]:
import pandas as pd

from collections import Counter
from fuzzywuzzy import fuzz
import pickle
from time import sleep

In [307]:
movies = pd.read_csv('/Users/davidusuariocasa/Desktop/IMDb_movies.csv')

movies

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,NaN,NaN,NaN,NaN,21.0,NaN
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,INR 4000000,NaN,$ 4791,NaN,NaN,NaN
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,INR 10000000,NaN,NaN,NaN,NaN,NaN
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,8.4,369,NaN,NaN,NaN,NaN,NaN,NaN
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,7.2,190,NaN,NaN,$ 2833,NaN,NaN,NaN

In [308]:
sorted_df = movies.sort_values('year') # We order the years included in the dataframe

sorted_df['year'].unique() # We see the numbers of sorted years included in the dataframe

array([1906, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920,
       1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [309]:
USA = sorted_df[sorted_df['country'] == 'USA'] # We only want the movies made in 'USA'

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
17,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",88,USA,English,George Loane Tucker,...,"Jane Gail, Ethel Grandin, William H. Turner, M...","A woman, with the aid of her police officer sw...",6.1,527,$ 5700,NaN,NaN,NaN,13.0,10.0
42,tt0004838,The Wrath of the Gods,The Wrath of the Gods,1914,1914-06-08,"Drama, Romance",56,USA,English,Reginald Barker,...,"Sessue Hayakawa, Tsuru Aoki, Frank Borzage, Ki...",An American sailor falls in love with a fisher...,5.7,130,NaN,NaN,NaN,NaN,5.0,2.0
41,tt0004825,The Wishing Ring: An Idyll of Old England,The Wishing Ring: An Idyll of Old England,1914,1914-11-09,"Comedy, Drama",54,USA,English,Maurice Tourneur,...,"Vivian Martin, Alec B. Francis, Chester Barnet...","After being expelled from college, Giles runs ...",6.6,209,NaN,NaN,NaN,NaN,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78895,tt7315570,Santa Girl,Santa Girl,2019,2019-08-30,"Comedy, Romance",90,USA,English,Blayne Weaver,...,"Barry Bostwick, Jennifer Stone, Devon Werkheis...",Santa's daughter gets a chance to attend colle...,5.1,266,NaN,NaN,NaN,NaN,13.0,2.0
78890,tt7313348,Them That Follow,Them That Follow,2019,2019-11-22,Thriller,98,USA,English,"Britt Poulton, Dan Madison Savage",...,"Kaitlyn Dever, Walton Goggins, Olivia Colman, ...","Set deep in the wilds of Appalachia, where bel...",5.2,960,NaN,$ 159218,$ 159218,58.0,25.0,50.0
78833,tt7281538,Teacher,Teacher,2019,2019-08-02,Drama,100,USA,English,Adam Dick,...,"David Dastmalchian, Kevin Pollak, Curtis Edwar...",A high school English teacher goes to disturbi...,7.3,540,NaN,NaN,NaN,NaN,16.0,13.0
78806,tt7262990,Deadcon,Deadcon,2019,2019-06-15,Horror,78,USA,English,Caryn Waechter,...,"Emma Barrett, Kherrington Briggs, Mai Brunelle...",The horrors and isolation of being a social me...,2.8,111,$ 100000,NaN,NaN,NaN,3.0,8.0
78707,tt7216068,See You Soon,See You Soon,2019,2019-07-26,"Drama, Romance",107,USA,English,David Mahmoudieh,...,"Harvey Keitel, Liam McIntyre, Poppy Drayton, O...",A U.S. soccer star suffers a career-threatenin...,4.7,265,NaN,NaN,$ 277126,29.0,4.0,3.0

In [310]:
# We have a lot of genres. We want to assign each movie one of the top 10 most frequent genres

USA['genre'] = USA['genre'].str.lower() # We first set every genre in lowercase just in case

In [311]:
pd.DataFrame(USA['genre'].value_counts()/len(USA)*100).head(40) # We see, for each genre, what's it's percentage

                                 genre
drama                         9.050564
comedy                        7.115315
horror                        3.921426
comedy, drama                 3.634049
drama, romance                3.386686
comedy, romance               3.295744
comedy, drama, romance        3.146599
horror, thriller              2.320844
thriller                      1.644234
western                       1.575118
action, crime, drama          1.575118
crime, drama, film-noir       1.553292
drama, thriller               1.535104
crime, drama                  1.418698
crime, drama, thriller        1.295016
comedy, horror                1.174973
action, adventure, comedy     0.938523
crime, drama, mystery         0.913059
horror, mystery, thriller     0.887595
horror, sci-fi                0.829393
comedy, crime, drama          0.825755
action, adventure, drama      0.807566
comedy, musical, romance      0.789378
drama, war                    0.683885
comedy, crime                 0.640233
action, comedy, crime         0.636595
comedy, musical               0.629320
action                        0.629320
drama, horror, thriller       0.600218
action, thriller              0.585668
action, drama                 0.578392
action, crime, thriller       0.563841
comedy, drama, family         0.498363
biography, drama              0.483812
animation, adventure, comedy  0.480175
action, adventure, sci-fi     0.480175
crime, drama, romance         0.472899
drama, horror, mystery        0.461986
sci-fi                        0.458348
drama, mystery, thriller      0.458348

In [312]:
cuenta_generos = Counter(genres for genres in USA['genre']) # This shows me how many total genres there is in my dataframe
print(f"Hay {len(cuenta_generos)} generos diferentes.")

Hay 885 generos diferentes.

In [313]:
comunes = dict(cuenta_generos.most_common(10)) # I create the top 10 most common genres based on the previous dataframe
comunes

{'drama': 2488,
 'comedy': 1956,
 'horror': 1078,
 'comedy, drama': 999,
 'drama, romance': 931,
 'comedy, romance': 906,
 'comedy, drama, romance': 865,
 'horror, thriller': 638,
 'thriller': 452,
 'western': 433}

In [314]:
def generos_(col, generos_comunes):  # We create a function that categorizes each genre among the top 10 most common genres based on its similarity with them
    maximo = 0
    for key in generos_comunes.keys():
        parecido = fuzz.ratio(col, key) 
        if parecido > maximo:
            maximo = parecido
            
            genero = key
    
            
    # We make sure that the genres are at least 50% similar        
    if maximo > 50:
        return genero
    else:
        return "Other"

In [315]:
USA["genre2"] = USA.apply(lambda x: generos_(x["genre"], comunes), axis = 1) # We create a new column called 'genre2' that classifies each film among the top 10 most common genres

In [316]:
# Now we want to keep cleaning our DF, so we remove columns we don't want

columns_to_drop = ['imdb_title_id', 'title', 'date_published', 'genre', 'duration', 'language', 'writer', 'production_company', 'description', 'avg_vote', 'votes', 'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore', 'reviews_from_users', 'reviews_from_critics']

USA = USA.drop(columns=columns_to_drop) # We create a dictionary with all the columns we want to remove, and we remove then next

In [317]:
USA = USA.rename(columns={'genre2': 'genre'})

USA = USA.rename(columns={'original_title': 'film'})

USA.reset_index(inplace = True)

# We change the names of some columns, so that they match the Oscars CSV

In [318]:
USA = USA.drop(columns='index') # After our reset_index, we remove the column 'index'

In [326]:
USA = USA[USA['year'] >= 1995] # Now, we only want movies from 1995

USA = USA.reset_index(drop=True) # And we reset our indexes

USA

,film,year,country,director,actors,genre
0,Indecent Behavior III,1995,USA,Kelley Cauthen,"Shannon Tweed, Sam Hennings, Colleen Coffey, D...","horror, thriller"
1,The Indian in the Cupboard,1995,USA,Frank Oz,"Hal Scardino, Litefoot, Lindsay Crouse, Richar...","drama, romance"
2,Lie Down with Dogs,1995,USA,Wally White,"Wally White, Bash Halow, James Sexton, Darren ...","comedy, romance"
3,Living in Oblivion,1995,USA,Tom DiCillo,"Steve Buscemi, Catherine Keener, Dermot Mulron...","comedy, drama"
4,Live Nude Girls,1995,USA,Julianna Lavin,"Dana Delany, Kim Cattrall, Cynthia Stevenson, ...",comedy
...,...,...,...,...,...,...
13953,Santa Girl,2019,USA,Blayne Weaver,"Barry Bostwick, Jennifer Stone, Devon Werkheis...","comedy, romance"
13954,Them That Follow,2019,USA,"Britt Poulton, Dan Madison Savage","Kaitlyn Dever, Walton Goggins, Olivia Colman, ...",thriller
13955,Teacher,2019,USA,Adam Dick,"David Dastmalchian, Kevin Pollak, Curtis Edwar...",drama
13956,Deadcon,2019,USA,Caryn Waechter,"Emma Barrett, Kherrington Briggs, Mai Brunelle...",horror
13957,See You Soon,2019,USA,David Mahmoudieh,"Harvey Keitel, Liam McIntyre, Poppy Drayton, O...","drama, romance"

In [322]:
# Now to do our web scraping, we need to import all these libraries

import numpy as np 
from selenium import webdriver # webdriver permite manejar un navegador 
from webdriver_manager.chrome import ChromeDriverManager # permite instalar y mantener actualizado el driver de chrome
from selenium.webdriver.common.keys import Keys # permite simular teclas del teclado 
from selenium.webdriver.chrome.options import Options # permite configurar el driver de chrome como modo incognito o maximizar la ventana
from time import sleep # esperas entre ejecuciones de codigo


import warnings # permite ignorar los warnings de python 
warnings.filterwarnings('ignore')

In [323]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [327]:
USA

,film,year,country,director,actors,genre
0,Indecent Behavior III,1995,USA,Kelley Cauthen,"Shannon Tweed, Sam Hennings, Colleen Coffey, D...","horror, thriller"
1,The Indian in the Cupboard,1995,USA,Frank Oz,"Hal Scardino, Litefoot, Lindsay Crouse, Richar...","drama, romance"
2,Lie Down with Dogs,1995,USA,Wally White,"Wally White, Bash Halow, James Sexton, Darren ...","comedy, romance"
3,Living in Oblivion,1995,USA,Tom DiCillo,"Steve Buscemi, Catherine Keener, Dermot Mulron...","comedy, drama"
4,Live Nude Girls,1995,USA,Julianna Lavin,"Dana Delany, Kim Cattrall, Cynthia Stevenson, ...",comedy
...,...,...,...,...,...,...
13953,Santa Girl,2019,USA,Blayne Weaver,"Barry Bostwick, Jennifer Stone, Devon Werkheis...","comedy, romance"
13954,Them That Follow,2019,USA,"Britt Poulton, Dan Madison Savage","Kaitlyn Dever, Walton Goggins, Olivia Colman, ...",thriller
13955,Teacher,2019,USA,Adam Dick,"David Dastmalchian, Kevin Pollak, Curtis Edwar...",drama
13956,Deadcon,2019,USA,Caryn Waechter,"Emma Barrett, Kherrington Briggs, Mai Brunelle...",horror
13957,See You Soon,2019,USA,David Mahmoudieh,"Harvey Keitel, Liam McIntyre, Poppy Drayton, O...","drama, romance"

In [304]:
driver = webdriver.Firefox()

for index, (value, year) in enumerate(zip(USAG['film'], USAG['year'])):
    driver.get("https://www.google.com/webhp?hl=es&sa=X&ved=0ahUKEwib6NqMzP7_AhUbVqQEHU22BKcQPAgJ")
    driver.implicitly_wait(2)

    try:
        driver.find_element("css selector","#L2AGLb > div:nth-child(1)").click() # We click to accept the cookies
    except:
        pass


    driver.find_element("css selector","#APjFqb").send_keys(f'"{value} {str(year)}"' + ' ' + 'site:https://www.boxofficemojo.com/', Keys.ENTER) # We select the search box with each film and year

    try:
        driver.find_element("css selector",".LC20lb").click() # If we get results, we click on the link

        try:
            box_office = driver.find_element('css selector','.mojo-performance-summary-table > div:nth-child(4) > span:nth-child(3) > span:nth-child(1)').text # If the page shows the box office, we store the value in a variable called 'box_office'
            USAG.loc[index, 'box_office'] = box_office

        except:
            USAG.loc[index, 'box_office'] = np.nan # If not, we store the value as null
    except:
        USAG.loc[index, 'box_office'] = np.nan

driver.quit()